.htaccess
index.php
/app/.htaccess
/app/index.php
/app/license.txt
/app/readme.html
/app/wp-*.php
/app/xmlrpc.php
/app/wp-admin/*
/app/wp-content/*
/app/wp-includes/*
!/app/wp-content/themes
/app/wp-content/themes/*
!/app/wp-content/themes/myth-kamenwriter/
!/app/wp-content/themes/myth-kamenwriter/**/*
!/app/wp-content/themes/myth-kamenwriter_dev/
!/app/wp-content/themes/myth-kamenwriter_dev/**/*
/app/wp-content/themes/myth-kamenwriter_dev/node_modules
/app/wp-content/themes/myth-kamenwriter_dev/pnpm-loack.yaml
.DS_Store