@use '../settings' as setting;
.c-btn {
  background: var(--c-txt);
  display: table;
  padding: setting.spaces(xs) setting.spaces(s);
  font-weight: setting.fontweight(b);
  font-size: setting.fontsize(m);
  appearance: none;
  border: solid 1px transparent;
  cursor: pointer;
  outline: none;
  color: var(--c-bg);
  &\:copy {
    flex-shrink: 0;
  }
  &\:goHome {
    margin-left: auto;
    margin-right: auto;
  }
}
