@use '../settings' as setting;
.o-switcher {
  display: flex;
  flex-wrap: wrap;
  &\:twoQuart {
    gap: setting.spaces(m) setting.spaces(base);
    > * {
      flex-shrink: 0;
      width: clamp(calc(50% - (setting.spaces(base) / 2)), calc((768px - 100vw) * 999), 100%);
      max-width: max(calc(1000px - 100vw) * 999, calc((100% - setting.spaces(base) * 3) / 4));
    }
    & + * {
      margin-top: setting.spaces(m);
    }
  }
  &\:author {
    gap: setting.spaces(s);
    align-items: flex-start;
    > * + * {
      flex-grow: 1;
      flex-basis: calc((540px - 100vw) * 999);
    }
  }
}